.form-size{
  padding: 24px;
  width: 368px;
}

.warning{
  margin-top: 2px;
  color: red;
}
label{
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}
a{
  display: contents;
  padding-left: 0;
  color: var(--blue)
}
small a:hover{
  text-decoration: underline;
}
.form-input{
  margin-bottom: 16px;
}
input{
  margin-top: 8px;

  &.ng-invalid.ng-touched {
    border: 1px solid var(--red);
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}
textarea{
  width: 100%;
  margin-top: 16px;
  padding: 4px 10px;
  display: block;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 5px;
}

