<form [formGroup] = "UserEditForm" (ngSubmit)="onSubmit()">

  <h3>Настройки пользователя</h3>

  <h4>Для смены имени введите данные</h4>

  <div class="form-input">
    <label for="user-name">Новое имя</label>
    <input id="user-name" formControlName="name" type="text" placeholder="Новое имя">
    <div class="warning"
         *ngIf="UserEditForm.controls['name'].invalid && (UserEditForm.controls['name'].touched || UserEditForm.controls['name'].dirty)">
      <span *ngIf="UserEditForm.controls['name'].errors?.['required']">Пожалуйста введите имя</span>
    </div>
  </div>

  <div class="form-input">
    <label for="login">Телефон</label>
    <input id="login" type="login" formControlName="login" placeholder="Номер телефона">
    <div class="validation warning">
      <div *ngIf="UserEditForm.controls['login'].invalid && (UserEditForm.controls['login'].touched || UserEditForm.controls['login'].dirty)">
        <span *ngIf="UserEditForm.controls['login'].errors?.['required']">Пожалуйста введите номер телефона</span>
      </div>
      <div *ngIf="UserEditForm.controls['login'].errors?.['pattern']">
        <span>Некорректный формат телефона</span>
      </div>
    </div>
  </div>

  <div class="form-input">
    <label for="password">Пароль</label>
    <input id="password" formControlName="password" type="password" placeholder="Введите адресс">
    <div class="warning"
         *ngIf="UserEditForm.controls['password'].invalid && (UserEditForm.controls['password'].touched || UserEditForm.controls['password'].dirty)">
      <span *ngIf="UserEditForm.controls['password'].errors?.['required']">Пожалуйста введите пароль</span>
    </div>
  </div>

  <button class="button-blue button-big" type="submit">Сохранить</button>

</form>

