.add-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed rgba(59, 130, 246, 0.16);
  border-radius: 10px;
  background: rgba(59, 130, 246, 0.04);

  svg{
    fill: #3B82F6;
  }

  .text-blue {
    margin-top: 10px;
    color: var(--blue);
  }

}
.add-new:hover {
  border: 3px dashed rgba(59, 130, 246, 0.32);
  background: rgba(59, 130, 246, 0.08);
}
.add-new:active{
  border: 3px dashed rgba(39, 110, 226, 0.16);
  background: rgba(39, 110, 226, 0.04);
  svg{
    fill: #1E3A8A;
  }
  .text-blue {
    margin-top: 10px;
    color: #1E3A8A;
  }
}
