.form-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
svg{
  height: 12px;
  width: 12px;
  margin: 8px 0 16px;
  cursor: pointer;
}

svg:active{
  border-radius: 5px;
  background-color: #CBD5E1;
}

.checkbox{
  height: 16px;
  width: 16px;
  color: var(--blue);
  border-color: #CBD5E1;
}
.other-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-remember{
  display: flex;
  gap: 8px;
}

.button-login{
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}

.registration-link{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
@import "src/assets/scss/form-styles";
@import "src/assets/scss/button-styles";

