.main-content__ad-image {
  border-radius: 10px;
  transition: transform 0.2s ease;
  overflow: hidden;
  img {
    object-fit: cover;
    border: #ccd0d3 1px solid;
  }
}

.main-content__ad-item:hover .main-content__ad-image {
  transform: scale(1.02);
}

.main-content__ad-description {
  margin-top: 5px;
}

.ad-name {
  color: #6697E6;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.ad-cost {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.ad-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 2000px) {
    img{
      height: 251px;
      width: 324px;
    }
}
@media (max-width: 1200px) {
    img{
      max-width: 220px;
      max-height: 164px;
    }
}
