<h4>Новое объявление</h4>
<form [formGroup]="addAd" (ngSubmit)="submit()">

  <div class="form-input">
    <label for="category">Выберите категорию</label>
    <select id="category" formControlName="categoryId">
      <option *ngFor="let c of categories$ | async" [value]="c.id">
        {{c.name}}
      </option>
    </select>
  </div>

  <div class="form-input">
    <label for="ad-name">Название объявления</label>
    <input id="ad-name" formControlName="name" type="text" placeholder="Название">
    <div class="warning"
         *ngIf="addAd.controls['name'].invalid && (addAd.controls['name'].touched || addAd.controls['name'].dirty)">
      <span *ngIf="addAd.controls['name'].errors?.['required']">Пожалуйста введите название</span>
    </div>
  </div>

  <div class="form-input">
    <label for="description">Описание</label>
    <textarea name="description" formControlName="description" id="description"
              placeholder="Расскажите подробнее о товаре или услуге"></textarea>
  </div>

  <div class="form-input">
    <label for="phone">Телефон</label>
    <input id="phone" type="phone" formControlName="phone" placeholder="Номер телефона">
    <div class="validation warning">
      <div
        *ngIf="addAd.controls['phone'].invalid && (addAd.controls['phone'].touched || addAd.controls['phone'].dirty)">
        <span *ngIf="addAd.controls['phone'].errors?.['required']">Пожалуйста введите номер телефона</span>
      </div>
      <div *ngIf="addAd.controls['phone'].errors?.['pattern']">
        <span>Некорректный формат телефона</span>
      </div>
    </div>
  </div>

  <div class="form-input">
    <label for="email-add">E-mail</label>
    <input id="email-add" type="email" formControlName="email" placeholder="E-mail">
    <div class="warning"
         *ngIf="addAd.controls['email'].invalid && (addAd.controls['email'].touched || addAd.controls['email'].dirty)">
      <div *ngIf="addAd.controls['email'].errors?.['email']">
        <span>Некорректный формат e-mail</span>
      </div>
    </div>
  </div>

  <div class="form-input">
    <label for="location">Адрес</label>
    <input id="location" formControlName="location" type="text" placeholder="Начните вводить адрес">
    <div class="warning"
         *ngIf="addAd.controls['location'].invalid && (addAd.controls['location'].touched || addAd.controls['location'].dirty)">
      <span *ngIf="addAd.controls['location'].errors?.['required']">Пожалуйста введите адрес</span>
    </div>
  </div>

  <div class="add-image">
    <input type="file" multiple (change)="onFileChange($event)" #inputImage class="display-none">
    <button type="button" (click)="adImage()" class="button-blue">Добавить картинки</button>
    <p>Максимум 10 картинок в формате jpeg, png</p>
  </div>
  <div *ngIf=" this.addAd.controls['images'].value.length > 0">
    <p>Для удаления нажмите на изображение</p>
  </div>

  <div class="images-array wrap">
    <img *ngFor="let url of  this.allImages; let i = index" [src]="url"
         alt="Ошибка загрузки фото"
         class="add-image" (click)="this.allImages.splice(i,1)">
  </div>

  <div class="form-input">
    <label for="cost">Цена</label>
    <input id="cost" formControlName="cost" type="number" placeholder="0 ₽">
    <div class="warning"
         *ngIf="addAd.controls['cost'].invalid && (addAd.controls['cost'].touched || addAd.controls['cost'].dirty)">
      <span *ngIf="addAd.controls['cost'].errors?.['required']">Пожалуйста введите цену</span>
    </div>
  </div>

  <div *ngIf="!userAd; else buttonSave">
    <button class="button-blue button-big" type="submit">Разместить объявление</button>

    <p>Нажимая кнопку «Разместить объявление» <br>
      Вы соглашаетесь с
      <a href="#">правилами площадки</a>
    </p>
  </div>

  <ng-template #buttonSave>
    <button class="button-blue button-big" type="submit">Сохранить</button>
  </ng-template>

</form>

